@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    background-color: #0b0b0b;
    font-family: 'Arial', sans-serif;
    
  }
  
  .topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: linear-gradient(to right, #1c1c1c, #2e2e2e);
    border-bottom: 2px solid #ff00ff;
  }
  
  .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .menu {
    display: flex;
    gap: 20px;
  }
  
  .menu a {
    color: #ff00ff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .menu a:hover {
    color: cyan;
  }
  
  .busca {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .busca input {
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    outline: none;
  }
  
  .busca button {
    padding: 6px 10px;
    border: none;
    background: #ff00ff;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
  }
  
  .busca button:hover {
    background: cyan;
  }



  .cards-wrapper {
    display: flex;
    justify-content: center; /* <- centraliza horizontalmente */
    gap: 30px;
    padding: 40px;
    position: absolute;
    bottom: 5px;
    left: 0; /* zera o left pra centralizar certo */
    width: 100%; /* ocupa toda a largura da tela */
    z-index: 10;
  }
  
  
  .card-container {
    background-color: #16142a;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    text-align: center;
    box-shadow: 0 0 10px #6e00ff;
  }
  
  .card-container img {
    width: 100%;
    border-radius: 8px;
    border: 3px solid #ffffff15;
  }
  
  .card-title {
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin: 10px 0 5px 0;
  }
  
  .card-button {
    background: linear-gradient(to right, #b067ff, #d8b8ff);
    border: none;
    padding: 5px 15px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 0 0 10px #b067ff;
    transition: transform 0.2s ease;
  }
  
  .card-button:hover {
    transform: scale(1.05);
  }
  